@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
::selection {
  background: #dee3eb /* Safari */;
}
::-moz-selection {
  background: #dee3eb /* Firefox */;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  color: #2f3c4e;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
header {
  clear: both;
  display: block;
  overflow: hidden;
  overflow: visible;
  background: #fff;
  position: relative;
  margin: 0 0 7px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.header {
  clear: both;
  display: block;
  overflow: hidden;
}
.content {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 0 7px;
}
.logo {
  float: left;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  color: #2f3c4e;
  text-align: center;
}
.logo__title {
  flex: 1;
  font-size: 20px;
}
.logo__title-sm {
  flex: 1;
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 14px;
}
.logo__title-input {
  display: inline-block;
  vertical-align: top;
  border-bottom: 2px solid #2f3c4e;
  background: #f1f1f1;
  padding: 0 1px;
  -webkit-animation: pulse 2.5s infinite linear;
  animation: pulse 2.5s infinite linear;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
@keyframes pulse {
  0 {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  9.999% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  10% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  20% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  29.999% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  30% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  40% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  49.999% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  50% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  60% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  69.999% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  70% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  99.999% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
}
@-webkit-keyframes pulse {
  0 {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  9.999% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  10% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  20% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  29.999% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  30% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  40% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  49.999% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  50% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  60% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  69.999% {
    border-bottom: 2px solid transparent;
    background: transparent;
  }
  70% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
  99.999% {
    border-bottom: 2px solid #2f3c4e;
    background: #f1f1f1;
  }
}
.item {
  display: block;
  position: relative;
}
.item__wrapper {
  clear: both;
  display: block;
  overflow: hidden;
  margin: 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: #fff;
}
.item__img {
  clear: both;
  display: block;
  overflow: hidden;
  height: 220px;
  background-size: cover;
  margin: -15px -15px 15px -15px;
}
.item__title {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 15px 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #f1f1f1;
}
.item__intro {
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 15px 0;
}
.item__param {
  clear: both;
  display: block;
  margin: 0 0 2px 0;
}
.item-param__item {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-size: 70% 70%;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .2;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.item-param__item-like {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2051.997%2051.997%22%3E%3Cpath%20d%3D%22M51.91%2016.242c-.758-8.354-6.67-14.415-14.07-14.415-4.93%200-9.445%202.653-11.985%206.905-2.517-4.307-6.846-6.906-11.697-6.906-7.4%200-13.313%206.06-14.07%2014.415-.06.37-.307%202.312.44%205.48%201.08%204.567%203.57%208.722%207.2%2012.012l18.115%2016.44L44.27%2033.73c3.63-3.29%206.12-7.444%207.198-12.013.748-3.167.502-5.11.443-5.478z%22%20fill%3D%22%232f3c4e%22/%3E%3C/svg%3E');
}
.item-param__item-shared {
  background-size: 80% 80%;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2048.665%2048.665%22%3E%3Cpath%20d%3D%22M40.332%2031.592c-2.377%200-4.515%201-6.033%202.598L16.56%2025.504c.06-.406.103-.82.103-1.246%200-.414-.04-.818-.098-1.215l17.71-8.59c1.52%201.61%203.667%202.62%206.055%202.62%204.603%200%208.333-3.73%208.333-8.333S44.935.407%2040.332.407%2032%204.137%2032%208.74c0%20.414.04.817.097%201.215l-17.71%208.59c-1.518-1.61-3.665-2.62-6.053-2.62C3.73%2015.925%200%2019.655%200%2024.258s3.73%208.333%208.333%208.333c2.377%200%204.515-1%206.033-2.595l17.736%208.685c-.062.406-.104.82-.104%201.245%200%204.604%203.73%208.333%208.333%208.333s8.334-3.73%208.334-8.333-3.73-8.333-8.332-8.333z%22%20fill%3D%22%232f3c4e%22/%3E%3C/svg%3E');
}
.item-param__item:hover {
  opacity: .7;
}
.readmore {
  float: right;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .5px;
  text-transform: uppercase;
  padding: 5px 8px;
  background: #dee3eb;
  color: #7e94b1;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.readmore:hover {
  background: #4c617e;
  color: #fdfefe;
}
.item-full .item__wrapper {
  position: relative;
}
.item-full .item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  margin: 0;
  z-index: 9;
}
.item-full .item__info {
  position: relative;
  z-index: 999;
}
.item-dark * {
  color: #fff;
}
.item-dark .item__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .6;
  z-index: 99;
}
.item-dark .readmore {
  background: none;
  border: 1px solid #fff;
}
.item-dark .readmore:hover {
  background: #fff;
  color: #2f3c4e;
}
.item-dark .item__title {
  margin-top: 80px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: .5px;
}
.item-dark .item__param {
  margin-top: 100px;
}
.item-dark .item-param__item-like {
  opacity: .8;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2051.997%2051.997%22%3E%3Cpath%20d%3D%22M51.91%2016.242c-.758-8.354-6.67-14.415-14.07-14.415-4.93%200-9.445%202.653-11.985%206.905-2.517-4.307-6.846-6.906-11.697-6.906-7.4%200-13.313%206.06-14.07%2014.415-.06.37-.307%202.312.44%205.48%201.08%204.567%203.57%208.722%207.2%2012.012l18.115%2016.44L44.27%2033.73c3.63-3.29%206.12-7.444%207.198-12.013.748-3.167.502-5.11.443-5.478z%22%20fill%3D%22%23ffffff%22/%3E%3C/svg%3E');
}
.item-dark .item-param__item-shared {
  opacity: .8;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2048.665%2048.665%22%3E%3Cpath%20d%3D%22M40.332%2031.592c-2.377%200-4.515%201-6.033%202.598L16.56%2025.504c.06-.406.103-.82.103-1.246%200-.414-.04-.818-.098-1.215l17.71-8.59c1.52%201.61%203.667%202.62%206.055%202.62%204.603%200%208.333-3.73%208.333-8.333S44.935.407%2040.332.407%2032%204.137%2032%208.74c0%20.414.04.817.097%201.215l-17.71%208.59c-1.518-1.61-3.665-2.62-6.053-2.62C3.73%2015.925%200%2019.655%200%2024.258s3.73%208.333%208.333%208.333c2.377%200%204.515-1%206.033-2.595l17.736%208.685c-.062.406-.104.82-.104%201.245%200%204.604%203.73%208.333%208.333%208.333s8.334-3.73%208.334-8.333-3.73-8.333-8.332-8.333z%22%20fill%3D%22%23ffffff%22/%3E%3C/svg%3E');
}
.item-dark .item-param__item:hover {
  opacity: 1;
}
