html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Regular.otf') format('opentype'), url('../fonts/SFUIDisplay-Regular.woff') format('woff'), url('../fonts/SFUIDisplay-Regular.ttf') format('truetype'), url('../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Medium.otf') format('opentype'), url('../fonts/SFUIDisplay-Medium.woff') format('woff'), url('../fonts/SFUIDisplay-Medium.ttf') format('truetype'), url('../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Light.otf') format('opentype'), url('../fonts/SFUIDisplay-Light.woff') format('woff'), url('../fonts/SFUIDisplay-Light.ttf') format('truetype'), url('../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Bold.otf') format('opentype'), url('../fonts/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SFUIDisplay-Bold.ttf') format('truetype'), url('../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Black.otf') format('opentype'), url('../fonts/SFUIDisplay-Black.woff') format('woff'), url('../fonts/SFUIDisplay-Black.ttf') format('truetype'), url('../fonts/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Semibold.otf') format('opentype'), url('../fonts/SFUIDisplay-Semibold.woff') format('woff'), url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype'), url('../fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SFUI';
  src: url('../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/SFUIDisplay-Thin.otf') format('opentype'), url('../fonts/SFUIDisplay-Thin.woff') format('woff'), url('../fonts/SFUIDisplay-Thin.ttf') format('truetype'), url('../fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.h1 {
  clear: both;
  display: block;
  font-size: 42px;
  margin: 0 0 60px 0;
  font-weight: bold;
  color: #21282e;
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'SFUI';
  background: #fff;
}
.wrapper {
  clear: both;
  display: block;
  width: 1120px;
  margin: auto;
}
.header {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #edf0f2;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header__logo {
  float: left;
  overflow: hidden;
  width: 240px;
  height: 90px;
  background: url('../images/logo.png') center center no-repeat;
}
.contacts {
  float: right;
  overflow: hidden;
  padding: 20px 0;
  font-size: 18px;
  text-align: right;
}
.contacts a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding: 0 0 1px 0;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.contacts a:hover {
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.contacts-phone {
  font-size: 28px;
}
.unheader {
  clear: both;
  display: block;
  background: #f6f9fb;
}
.topmenu {
  clear: both;
  display: block;
  list-style: none;
  text-align: center;
}
.topmenu__item {
  display: inline-block;
  position: relative;
}
.topmenu__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  padding: 0 28px;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.topmenu__item span {
  color: #000;
  display: inline-block;
  padding: 1px 2px;
  border-bottom: 1px solid #000;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  transition: 0.1s;
}
.topmenu__item:hover > a {
  background: #ebeff2;
}
.topmenu__item:hover .untopmenu {
  display: block !important;
}
.untopmenu {
  display: none;
  list-style: none;
  position: absolute;
  background: #21282e;
  padding: 10px 0;
  left: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.untopmenu:before {
  content: '';
  width: 15px;
  height: 15px;
  left: 50%;
  top: -1px;
  position: absolute;
  background: #21282e;
  -webkit-transform: rotate(45deg) translateX(-50%);
  -moz-transform: rotate(45deg) translateX(-50%);
  transform: rotate(45deg) translateX(-50%);
}
.untopmenu__item {
  display: block;
  clear: both;
}
.untopmenu__item a {
  display: block;
  color: #fff;
  padding: 0 50px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.untopmenu__item a:hover {
  background: #252d33;
}
.container {
  clear: both;
  display: block;
  overflow: hidden;
  margin: auto;
  padding: 70px 0;
}
.container p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 15px 0;
}
.container-index {
  padding-bottom: 0;
  background: url('../images/home_bg.jpg') center bottom no-repeat;
}
.container__bottom {
  clear: both;
  display: block;
  text-align: center;
  padding: 280px 0 95px 0;
  font-size: 48px !important;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
.content {
  clear: both;
  display: block;
  width: 920px;
  margin: auto;
}
.slider {
  clear: both;
  display: block;
  padding: 60px 0 0 0;
}
.slider__container {
  clear: both;
  display: block;
  width: 920px;
  margin: auto;
}
.slider__wrapper {
  position: relative;
  padding: 0 70px;
}
.slider__wrapper .owl-prev {
  position: absolute;
  left: 0;
  width: 38px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20509.889%20509.889%22%3E%0A%3Cpath%20d%3D%22M254.944%2C509.889c-140.032%2C0-254.41-114.378-254.41-254.41S114.912%2C0%2C254.944%2C0%20%20%20%20s254.41%2C114.378%2C254.41%2C254.41S396.046%2C509.889%2C254.944%2C509.889z%20M254.944%2C32.068c-122.929%2C0-222.342%2C99.412-222.342%2C222.342%20%20%20%20s99.412%2C222.342%2C222.342%2C222.342s222.342-99.412%2C222.342-222.342S377.874%2C32.069%2C254.944%2C32.068z%22%20fill%3D%22%2337454e%22/%3E%0A%3Cpath%20d%3D%22M303.047%2C366.65c-4.276%2C0-8.552-1.069-11.758-4.276l-95.137-95.137%20%20%20%20c-3.207-4.276-5.345-8.552-5.345-12.827c0-4.276%2C2.138-8.552%2C4.276-11.758l95.137-95.137c6.414-6.414%2C16.034-6.414%2C22.448%2C0%20%20%20%20c6.414%2C6.414%2C6.414%2C16.034%2C0%2C22.448l-84.447%2C84.447l84.447%2C84.447c6.414%2C6.414%2C6.414%2C16.034%2C0%2C22.448%20%20%20%20C310.53%2C364.512%2C307.323%2C366.65%2C303.047%2C366.65z%22%20fill%3D%22%2337454e%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
  background-size: 100%;
  opacity: .7;
  font-size: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.slider__wrapper .owl-prev:hover {
  opacity: 1;
}
.slider__wrapper .owl-next {
  position: absolute;
  right: 0;
  width: 38px;
  height: 38px;
  top: 50%;
  margin-top: -19px;
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20508.82%20508.82%22%3E%0A%3Cpath%20d%3D%22M254.41%2C508.82C114.378%2C508.82%2C0%2C394.442%2C0%2C254.41S114.378%2C0%2C254.41%2C0%20%20%20%20s254.41%2C114.378%2C254.41%2C254.41S394.442%2C508.82%2C254.41%2C508.82z%20M254.41%2C31C131.481%2C31%2C32.069%2C130.412%2C32.069%2C253.341%20%20%20%20s99.412%2C222.342%2C222.342%2C222.342s222.341-99.412%2C222.341-222.342S377.339%2C31%2C254.41%2C31z%22%20fill%3D%22%2337454e%22/%3E%0A%3Cpath%20d%3D%22M206.307%2C365.581c-4.276%2C0-8.552-1.069-11.758-4.276c-6.414-6.414-6.414-16.034%2C0-22.448%20%20%20%20l84.447-84.447l-84.447-84.447c-6.414-6.414-6.414-16.034%2C0-22.448c6.414-6.414%2C16.034-6.414%2C22.448%2C0l95.137%2C95.137%20%20%20%20c3.207%2C3.207%2C4.276%2C7.483%2C4.276%2C11.758c0%2C4.276-2.138%2C8.552-4.276%2C11.758l-94.068%2C94.068%20%20%20%20C214.859%2C363.443%2C210.583%2C365.581%2C206.307%2C365.581z%22%20fill%3D%22%2337454e%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
  background-size: 100%;
  opacity: .7;
  font-size: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.slider__wrapper .owl-next:hover {
  opacity: 1;
}
.location {
  clear: both;
  display: block;
  overflow: hidden;
  padding: 50px 0 0 0;
}
footer {
  clear: both;
  display: block;
  overflow: hidden;
  background: #1f2123;
}
.footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 920px;
  margin: auto;
  color: #fff;
  padding: 25px 0;
}
.footer__contacts {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}
.footer__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}
.social {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  padding: 10px 0 10px 20px;
  border-left: 2px solid #2a2c2e;
  margin: 0 0 0 50%;
}
.social__item {
  display: inline-block;
  line-height: 24px;
  font-size: 14px;
  color: #fff;
  margin: 0 0 7px 0;
  text-decoration: none;
}
.social__item:last-child {
  margin: 0;
}
.social__item:hover {
  text-decoration: none !important;
}
.social__item:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  background: url('../images/social.png') no-repeat;
}
.social__item-vk:before {
  background-position: 0 0 !important;
}
.social__item-vk:hover:before {
  background-position: right 0!important;
}
.social__item-fb:before {
  background-position: 0 bottom !important;
}
.social__item-fb:hover:before {
  background-position: -27px bottom !important;
}
