		<footer class="over">
			<div class="footer">
				<div class="footer__contacts">
					<p class="footer__title">КАЗАНЬ</p>
					<p>г. Казань, Рахимова 8, корпус 1<br>тел. 8(843)233-45-25<br>info@u-promo.ru</p>
				</div>
				<div class="social">
					<a href="#" class="social__item social__item-vk">Мы в Вконтакте</a><br>
					<a href="#" class="social__item social__item-fb">Мы в Вконтакте</a>
				</div>
			</div>		
		</footer>
	</div>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/owl.carousel.min.js"></script>
	<script src="./js/tcon.set.min.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>