<div class="item">
	<div class="item__wrapper">
		<div class="item__img" style="background-image: url('../images/img.jpg')"></div>
		<h3 class="item__title">Почему веб-дизайн умирает, а котики хотят все время жрать?</h3>
		<p class="item__intro">Представляется логичным, что знак создает предмет деятельности. Структурализм, следовательно, порождает и обеспечивает конфликт. Можно предположить, что отношение к современности индуктивно контролирует из ряда вон выходящий интеллект. Структурализм не так уж очевиден. Гегельянство, по определению, непредсказуемо. Интеллект выводит гений.</p>
		<div class="item__param">
			<div class="item-param__item item-param__item-like"  data-role="tooltip" data-text="Крутая статья"></div>
			<div class="item-param__item item-param__item-shared" data-role="tooltip" ></div>
			<a href="" class="readmore">Читать полностью</a>
		</div>
	</div>
</div>