<div class="sidebar">
			<div class="block subscribe">
				<div class="subscribe__title">Рассылка обновлений</div>
				<form class="subscribe__block">
					<input type="email" class="subscribe__input" id="subscribe" placeholder="твой e-mail" value="">
					<input type="submit" class="subscribe__button validate" for="subscribe" value="">
				</form>
				<div class="block-show"></div>
			</div>
			<div class="block block-catory">
				<div class="block__title">Категории</div>
				<ul class="block__category">
					<li class="block__category__item">
						<a href="#">Исходники (21)</a>
					</li>
					<li class="block__category__item">
						<a href="#">Примеры реализации (34)</a>
					</li>
					<li class="block__category__item">
						<a href="#">Управление временем (5)</a>
					</li>
					<li class="block__category__item">
						<a href="#">Фриланс (47)</a>
					</li>
					<li class="block__category__item">
						<a href="#">Не о чем (12)</a>
					</li>
				</ul>
				<div class="block-show"></div>
			</div>
			<div class="block block-idea">
				<div class="block__title">Есть идея?</div>
				<div class="block__text">Если ты хочешь поделиться своими мыслями, нестандартными наработками или хочешь простым языком объяснить непонятную<br>тему - велкам!</div>
				<a href="#" class="button">Предложить материал</a>
				<div class="block-show"></div>
			</div>
		</div>