@import "_reset.less";

::selection {
	background: lighten(@colorText, 65%) /* Safari */
}
::-moz-selection {
	background: lighten(@colorText, 65%) /* Firefox */
}

a {
	text-decoration: none;
}
.clear() {
	clear: both;
	display: block;
	overflow: hidden;
}

.radius(@rds: 2px) {
	-webkit-border-radius: @rds;
	-moz-border-radius: @rds;
	border-radius: @rds;
}

.transition(@trns: .1s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
}