@import "_reset.less";
@import "_fonts.less";

@width920: 		920px;
@width: 		auto;

::selection {}
::-moz-selection {}

.clear() {
	clear: both;
	display: block;
}

.radius(@rds: 2px) {
	-webkit-border-radius: @rds;
	-moz-border-radius: @rds;
	border-radius: @rds;
}

.transition(@trns: .1s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.h1 {
	.clear();
	font-size: 42px;
	margin: 0 0 60px 0;
	font-weight: bold;
	color: #21282e;
	text-align: center;
}

html,body {
	margin: 0;
	padding: 0;
	font-family: 'SFUI';
	background: #fff;
}

.wrapper {
	.clear();
	width: 1120px;
	margin: auto;
}


.header {
	.clear();
	overflow: hidden;
	padding: 15px 0;
	border-bottom: 1px solid #edf0f2;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	&__logo {
		float: left;
		overflow: hidden;
		width: 240px;
		height: 90px;
		background: url('../images/logo.png') center center no-repeat;
		background-size: 100%;
	}
}

.contacts {
	float: right;
	overflow: hidden;
	padding: 20px 0;
	font-size: 18px;
	text-align: right;
	& a {
		color: #000;
		text-decoration: none;
		display: inline-block;
		border-bottom: 1px solid transparent;
		padding: 0 0 1px 0;
		.transition();
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid #000;
		}
	}
	&-phone {
		font-size: 28px;
	}
}

.unheader {
	.clear();
	background: #f6f9fb;
}

.topmenu {
	.clear();
	list-style: none;
	text-align: center;
	&__item {
		display: inline-block;
		position: relative;
		& > a {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
            align-items: center;
			height: 60px;
			padding: 0 28px;
			text-decoration: none;
			.transition(.2s);
		}
		& span {
			color: #000;
			display: inline-block;
			padding: 1px 2px;
			border-bottom: 1px solid #000;
			.transition();
		}
		&:hover > a {
			background: #ebeff2;
		}
		&:hover .untopmenu {
			display: block !important;
		}
	}
}

.untopmenu {
	display: none;
	list-style: none;
	position: absolute;
	background: #21282e;
	padding: 10px 0;
	left: 50%;
	z-index: 999;
	box-shadow: 2px 2px 5px rgba(0,0,0,.5);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	&:before {
		content: '';
		width: 15px;
		height: 15px;
		left: 50%;
		top: -1px;
		position: absolute;
		background: #21282e;
		-webkit-transform: rotate(45deg) translateX(-50%);
		-moz-transform: rotate(45deg) translateX(-50%);
		transform: rotate(45deg) translateX(-50%);
	}
	&__item {
		display: block;
		clear: both;
		& a {
			display: block;
			color: #fff;
			padding: 0 50px;
			line-height: 40px;
			text-align: center;
			.transition(.2s);
			&:hover {
				background: #252d33;
			}
		}
	}
}

.container {
	.clear();
	overflow: hidden;
	margin: auto;
	padding: 70px 0;
	& p {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 15px 0;
	}
	&-index {
		padding-bottom: 0;
		background: url('../images/home_bg.jpg') center bottom no-repeat;
	}
	&__bottom {
		.clear();
		text-align: center;
		padding: 280px 0 95px 0;
		font-size: 48px !important;
		line-height: normal !important;
		color: #fff;
		font-weight: 300;
		text-transform: uppercase;
	}
}

.content {
	.clear();
	width: @width920;
	margin: auto;
}

.slider {
	.clear();
	padding: 60px 0 0 0;
	&__container {
		.clear();
		width: @width920;
		margin: auto;
	}
	&__wrapper {
		position: relative;
		padding: 0 70px;
		& .owl-prev {
			position: absolute;
			left: 0;
			width: 38px;
			height: 38px;
			top: 50%;
			margin-top: -19px;
			background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20509.889%20509.889%22%3E%0A%3Cpath%20d%3D%22M254.944%2C509.889c-140.032%2C0-254.41-114.378-254.41-254.41S114.912%2C0%2C254.944%2C0%20%20%20%20s254.41%2C114.378%2C254.41%2C254.41S396.046%2C509.889%2C254.944%2C509.889z%20M254.944%2C32.068c-122.929%2C0-222.342%2C99.412-222.342%2C222.342%20%20%20%20s99.412%2C222.342%2C222.342%2C222.342s222.342-99.412%2C222.342-222.342S377.874%2C32.069%2C254.944%2C32.068z%22%20fill%3D%22%2337454e%22/%3E%0A%3Cpath%20d%3D%22M303.047%2C366.65c-4.276%2C0-8.552-1.069-11.758-4.276l-95.137-95.137%20%20%20%20c-3.207-4.276-5.345-8.552-5.345-12.827c0-4.276%2C2.138-8.552%2C4.276-11.758l95.137-95.137c6.414-6.414%2C16.034-6.414%2C22.448%2C0%20%20%20%20c6.414%2C6.414%2C6.414%2C16.034%2C0%2C22.448l-84.447%2C84.447l84.447%2C84.447c6.414%2C6.414%2C6.414%2C16.034%2C0%2C22.448%20%20%20%20C310.53%2C364.512%2C307.323%2C366.65%2C303.047%2C366.65z%22%20fill%3D%22%2337454e%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
			background-size: 100%;
			opacity: .7;
			font-size: 0;
			.transition(.2s);
			&:hover {
				opacity: 1;
			}
		}
		& .owl-next {
			position: absolute;
			right: 0;
			width: 38px;
			height: 38px;
			top: 50%;
			margin-top: -19px;
			background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20508.82%20508.82%22%3E%0A%3Cpath%20d%3D%22M254.41%2C508.82C114.378%2C508.82%2C0%2C394.442%2C0%2C254.41S114.378%2C0%2C254.41%2C0%20%20%20%20s254.41%2C114.378%2C254.41%2C254.41S394.442%2C508.82%2C254.41%2C508.82z%20M254.41%2C31C131.481%2C31%2C32.069%2C130.412%2C32.069%2C253.341%20%20%20%20s99.412%2C222.342%2C222.342%2C222.342s222.341-99.412%2C222.341-222.342S377.339%2C31%2C254.41%2C31z%22%20fill%3D%22%2337454e%22/%3E%0A%3Cpath%20d%3D%22M206.307%2C365.581c-4.276%2C0-8.552-1.069-11.758-4.276c-6.414-6.414-6.414-16.034%2C0-22.448%20%20%20%20l84.447-84.447l-84.447-84.447c-6.414-6.414-6.414-16.034%2C0-22.448c6.414-6.414%2C16.034-6.414%2C22.448%2C0l95.137%2C95.137%20%20%20%20c3.207%2C3.207%2C4.276%2C7.483%2C4.276%2C11.758c0%2C4.276-2.138%2C8.552-4.276%2C11.758l-94.068%2C94.068%20%20%20%20C214.859%2C363.443%2C210.583%2C365.581%2C206.307%2C365.581z%22%20fill%3D%22%2337454e%22/%3E%0A%3C/svg%3E%0A') center center no-repeat;
			background-size: 100%;
			opacity: .7;
			font-size: 0;
			.transition(.2s);
			&:hover {
				opacity: 1;
			}
		}
	}
}

.location {
	.clear();
	overflow: hidden;
	padding: 50px 0 0 0;
	&__map {
		height: 450px;
	}
}

footer {
	.clear();
	overflow: hidden;
	background: #1f2123;
}

.footer {
	.clear();
	overflow: hidden;
	width: @width920;
	margin: auto;
	color: #fff;
	padding: 25px 0;
	&__contacts {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		font-size: 14px;
		line-height: 20px;
	}
	&__title {
		font-size: 20px;
		font-weight: bold;
		margin: 0 0 10px 0;
	}
}

.social {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	padding: 10px 0 10px 20px;
	border-left: 2px solid #2a2c2e;
	margin: 0 0 0 50%;
	&__item {
		display: inline-block;
		line-height: 24px;
		font-size: 14px;
		color: #fff;
		margin: 0 0 7px 0;
		text-decoration: none;
		&:last-child {
			margin: 0;
		}
		&:hover {
			text-decoration: none !important;
		}
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			margin: 0 10px 0 0;
			background: url('../images/social.png') no-repeat;
		}
		&-vk:before {
			background-position: 0 0 !important;
		}
		&-vk:hover:before {
			background-position: right 0!important;
		}
		&-fb:before {
			background-position: 0 bottom !important;
		}
		&-fb:hover:before {
			background-position: -27px bottom!important;
		}
	}
}


@margin20: 		0 20px;

@media(max-width: 1160px) {
	.wrapper {
		width: @width;
		margin: @margin20;
	}
}

@media(max-width: 960px) {
	.footer,
	.content {
		width: @width;
		margin: @margin20;
	}
	.slider {
		&__container {
			width: @width;
			margin: @margin20;		
		}
	}
	.social {
		float: right;
		margin: 15px 0 0 0;
	}
}

.menu-show {
	display: none;
	position: fixed;
	right: 20px;
	top: 10px;
}

@media(max-width: 780px) {
	.h1 {
		font-size: 28px;
		margin: 0 0 30px 0;
	}
	.container {
		padding: 30px 0;
		background-position: center bottom -100px;
		&__bottom {
			font-size: 28px !important;
			padding: 60px 0 20px 0;
		}
	}
	.slider {
		padding: 30px 0 0 0;
	}
	.contacts {
		padding: 30px 0 0 0;
	}
	.location {
		padding: 30px 0 0 0;
		&__map {
			height: 300px;
		}
	}
	.menu-show {
		display: block;
		z-index: 999;
	}
	.unheader {
		position: fixed;
		width: 240px;
		left: 0;
		top: 0;
		bottom: 0;
		-webkit-transform: translateX(-260px);
		-moz-transform: translateX(-260px);
		transform: translateX(-260px);
		.transition(.3s);
		z-index: 999;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 15px;
			z-index: 99;
			background: url('../images/shadow.png') right center repeat-y;
		}
	}
	.show-menu .unheader {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		transform: translateX(0);
	}
	.show-menu {
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		&:before {
			content: '';
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			background: #fff;
			opacity: .8;
			z-index: 99;
		} 
	}
	// .over {
	// 	-webkit-transform: translateX(0);
	// 	-moz-transform: translateX(0);
	// 	transform: translateX(0);
	// 	.transition(.3s);
	// }
	// .show-menu .over {
	// 	-webkit-transform: translateX(240px);
	// 	-moz-transform: translateX(240px);
	// 	transform: translateX(240px);
	// }
	.topmenu {
		margin: 0 -20px;
		&__item {
			display: block;
			text-align: center;
			& > a {
				display: block;
				line-height: 60px;
			}
			& span {
				display: block;
				text-align: center;
				border-bottom: 1px solid rgba(0,0,0,.2);
			}
		}

	}
}

@media(max-width: 620px) {
	.header {
		&__logo {
			width: 160px;
			height: 60px;
		}
	}
	.contacts {
		font-size: 16px;
		padding: 9px 0 0 0;
		margin: 0 55px 0 0;
		&-phone {
			font-size: 20px;
		}
	}
	.menu-show {
		top: 27px;
	}
}

@media(max-width: 480px) {
	.social {
		padding: 10px;
		border: none;
		&__item {
			font-size: 0;
		}
		& br {
			display: none;
		}

	}
	.contacts {
		clear: both;
		float: left;
		text-align: left;
		margin: 0;
		padding: 15px 0 0 0;
		& br {
			display: none;
		}
		& a {
			vertical-align: middle;
			font-size: 20px;
		}
		&-phone {
			margin: 0 10px 0 0;
		}
	}
}